.how_it_works {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.box-red {
    background: var(--primary-brand);
}

.box-green {
    background: var(--green-background);
}

@media screen and (min-width: 1280px) {
    .how_it_works {
        flex-direction: row;
        justify-content: center;
        background: linear-gradient(to right, #7a3145 50%, #576F35 50%);
    }

    .box-red {
        background-size: cover;
        background-position: center left;
    }

    .box-green {
        background-size: cover;
        background-position: center right;
    }
}

.wrap-text {
    max-width: 335px;
}

@media screen and (min-width: 768px) {
    .wrap-text {
        max-width: 440px;
        flex-direction: column;
    }
}

.how_it_works-block-image {
    padding: 40px 0px;
}

@media screen and (min-width: 768px) {
    .how_it_works-block-image {
        padding: 100px 64px;
    }
}

@media screen and (min-width: 1280px) {
    .how_it_works-block-image {
        padding: 100px;
    }
}

.main-image {
    border-radius: 30px;
    background:
        linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
        url("/img/how_it_works/how_it_works_img_mob@1x.jpg") no-repeat center center;
    background-size: cover;
}

@media screen and (min-width) and (max-width: 360px) {
    .main-image {
        width: auto;
        height: auto;
    }
}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .main-image {
        background:
            linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
            url("/img/how_it_works/how_it_works_img_mob@2x.jpg") no-repeat center center;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    .main-image {
        width: 640px;
        background:
            linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
            url("/img/how_it_works/how_it_works_img_tab@1x.jpg") no-repeat center center;
        background-size: cover;
    }
}

@media screen and (min-resolution: 2dppx) and (min-width: 768px),
(min-resolution: 192dpi) {
    .main-image {
        background:
            linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
            url("/img/how_it_works/how_it_works_img_tab@2x.jpg") no-repeat center center;
        background-size: cover;
    }
}

@media screen and (min-width: 1280px) {
    .main-image {
        width: 440px;
        height: 560px;
        background:
            linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
            url("/img/how_it_works/how_it_works_img_desk@1x.jpg") no-repeat center center;
        background-size: cover;
    }
}

@media screen and (min-resolution: 2dppx) and (min-width: 1280px),
(min-resolution: 192dpi) {
    .main-image {
        background:
            linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
            url("/img/how_it_works/how_it_works_img_desk@2x.jpg") no-repeat center center;
        background-size: cover;
    }
}

.how_it_works-block-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
}

@media screen and (min-width: 768px) {
    .how_it_works-block-order {
        padding: 100px 164px;
    }
}

@media screen and (min-width: 1280px) {
    .how_it_works-block-order {
        display: flex;
        padding: 100px;
        height: auto;
        justify-content: flex-start;
    }
}

.how_it_works-title {
    font-weight: var(--semiBold);
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .how_it_works-title {
        font-size: 32px;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .how_it_works-title {
        font-size: 32px;
    }
}

.how_it_works-title-style {
    color: var(--accent);
}

.how_it_works-text {
    font-weight: var(--medium);
    font-size: 14px;
    line-height: 143%;
    color: var(--white-text);
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .how_it_works-text {
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 52px;
    }
}

@media screen and (min-width: 1280px) {
    .how_it_works-text {
        margin-bottom: 104px;
    }
}

.content-text-style {
    font-weight: 700;
    color: var(--black-text);
}

.how_it_works-list {
    counter-reset: list-counter;
    /* Ініціалізація лічильника */
}

.how_it_works-item {
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    background: var(--white-text);
    font-weight: var(--medium);
    font-size: 14px;
    line-height: 143%;
    color: var(--details);
    display: flex;
    align-items: center;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .how_it_works-item {
        font-size: 16px;
        line-height: 125%;
        padding: 12px 15px 12px 24px;
    }
}

.how_it_works-item::before {
    content: counter(list-counter);
    /* Додаємо номер */
    counter-increment: list-counter;
    /* Збільшуємо лічильник */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: var(--primary-brand);
    border: 5px solid var(--accent);
    border-radius: 50%;
    color: #fff;
    /* Білий текст для номера */
    font-weight: bold;
    /* Жирний текст */
    font-size: 16px;
    /* Розмір шрифту */
    flex-shrink: 0;
}

.how_it_works-item:not(:last-child) {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .how_it_works-item:not(:last-child) {
        margin-bottom: 24px;
    }
}

